<script lang="ts">
    import type { Park as ParkInfo } from "./siteinfo";
    import type { Park as LiveInfo } from "./liveinfo";
    export let info: ParkInfo;
    export let live: LiveInfo = { id: "", availablecar: -1 };
</script>

<div class="w-full bg-white rounded-xl p-3 shadow-lg">
    <div class="text-lg font-bold text-center mb-2">{info.name}</div>
    <div class="flex justify-evenly">
        <div class="flex items-center">
            <div class="mr-2">即時車位</div>
            {#if live.availablecar >= 0}
                <div class="text-5xl">{live.availablecar}</div>
            {:else}
                <div class="text-lg">無即時資料</div>
            {/if}
        </div>
        <div class="flex">
            <div class="flex items-center mx-1">
                <span class="material-icons text-gray-400 mr-1">
                    local_parking
                </span>
                <div class="text-base">{info.totalcar || 0}</div>
            </div>
            <div class="flex items-center mx-1">
                <span class="material-icons text-blue-400 mr-1">
                    accessible
                </span>
                <div class="text-base">{info.Handicap_First || 0}</div>
            </div>
            <div class="flex items-center mx-1">
                <span class="material-icons text-pink-300 mr-1">
                    family_restroom
                </span>
                <div class="text-base">{info.Pregnancy_First || 0}</div>
            </div>
        </div>
    </div>
    <div class="w-full border-t my-1" />
    <!-- PLACE -->
    <div class="flex items-center">
        <div
            class="flex shrink-0 items-center justify-center h-7 w-7 bg-gray-100 rounded-full m-1.5"
        >
            <span class="material-icons text-gray-400 text-base"> place </span>
        </div>
        <div class="text-sm">{info.address}</div>
    </div>
    <!-- DESCRIPTION -->
    <div class="flex items-center">
        <div
            class="flex shrink-0 items-center justify-center h-7 w-7 bg-gray-100 rounded-full m-1.5"
        >
            <span class="material-icons text-gray-400 text-base">
                description
            </span>
        </div>
        <div class="text-sm">{info.summary}</div>
    </div>
    <!-- FEE -->
    <div class="flex items-center">
        <div
            class="flex shrink-0 items-center justify-center h-7 w-7 bg-gray-100 rounded-full m-1.5"
        >
            <span class="material-icons text-gray-400 text-base">
                attach_money
            </span>
        </div>
        <div class="text-sm">{info.payex}</div>
    </div>
    <!-- PHONE -->
    <div class="flex items-center">
        <div
            class="flex shrink-0 items-center justify-center h-7 w-7 bg-gray-100 rounded-full m-1.5"
        >
            <span class="material-icons text-gray-400 text-base"> call </span>
        </div>
        <div class="text-sm">{info.tel}</div>
    </div>
</div>
