<script>
  import "../app.css";
  // export let data;

  const footerItems = [
    // {
    //   name: "Home",
    //   route: "/",
    //   icon: "home",
    // },
    {
      name: "Map",
      route: "/map",
      icon: "place",
    },
    {
      name: "Likes",
      route: "/favorite",
      icon: "star_border",
    },
  ];
</script>

<div class="flex flex-col w-screen h-screen text-gray-600">
  <div class="flex-1">
    <slot />
  </div>
  <div class="footer border-t flex justify-evenly items-center">
    {#each footerItems as footer}
      <a class="text-xs m-1.5" href={footer.route}>
        <div class="flex flex-col justify-center items-center">
          <span class="material-icons">
            {footer.icon}
          </span>
          {footer.name}
        </div>
      </a>
    {/each}
  </div>
</div>
