<script lang="ts">
    import SimpleInfo from "./simpleInfo.svelte";
    export let data;
    let focused = false;
    // console.log(
    //     data.sitedata.park.filter((park) => park.name.includes("建國北路"))
    // );
</script>

<div class="flex flex-col items-center w-full h-full p-2">
    <!-- <div class="flex rounded w-96 h-10 border text-sm p-2 items-center">
        <span class="material-icons text-lg mx-1"> search </span>
        <input
            class="outline-none w-full"
            type="text"
            placeholder="搜尋停車場"
            on:focus={() => (focused = true)}
            on:blur={() => (focused = false)}
        />
    </div>
    {#if focused}
        <div class="w-96 h-96 border text-sm overflow-auto cursor-default">
            {#each data.sitedata.park as site}
                <div
                    class="flex justify-between items-center m-2 p-1 rounded hover:bg-slate-50"
                >
                    <div>
                        <div>{site.name}</div>
                        <div class="text-xs text-gray-500">{site.address}</div>
                    </div>
                    <span
                        class="material-icons text-lg mx-1 hover:text-yellow-400 cursor-pointer"
                    >
                        star_border
                    </span>
                </div>
            {/each}
        </div>
    {/if} -->
    <div class="w-full">
        {#each ["240", "239", "238"] as id}
            <SimpleInfo
                livedata={data.livedata.data[id]}
                sitedata={data.sitedata.park.find((park) => park.id === id)}
            />
        {/each}
    </div>
</div>
