<script>
    export let livedata;
    export let sitedata;
    console.log(livedata);
    console.log(sitedata);
</script>

<div class="border rounded-lg p-2 px-4 m-1 flex justify-between">
    <div class="flex-col">
        <div>{sitedata.name}</div>
        <div class="text-xs">{sitedata.address}</div>
    </div>
    <div class="text-2xl">{livedata.availablecar}</div>
</div>
