<script lang="ts">
    import { browser } from "$app/environment";
    import { onMount, onDestroy } from "svelte";

    import * as L from "leaflet";
    import "leaflet/dist/leaflet.css";
    import "leaflet.markercluster/dist/leaflet.markercluster";

    import { tw97ToLatLng } from "../api/utils";
    import InfoModal from "$lib/infoModal.svelte";
    import type { Park } from "$lib/siteinfo";

    let map: L.Map;
    let container = document.createElement("div");

    export let data;

    async function getCurrentLocation(): Promise<GeolocationPosition> {
        return new Promise((resolve, reject) => {
            navigator.geolocation.getCurrentPosition(resolve, reject);
        });
    }

    async function moveToCurrentLocation() {
        const pos = await getCurrentLocation();
        map.panTo({ lat: pos.coords.latitude, lng: pos.coords.longitude });
    }

    let lat = 25.0841943;
    let lng = 121.5621642;
    let userLocationAccess = false;

    let showModal = false;
    let selectedPark: Park;
    let selectedMarker: L.Marker;

    onMount(async () => {
        // showModal = true;
        // selectedPark = data.sitedata.park[0];
        // console.log(selectedPark);

        if (!browser) return;

        try {
            const pos = await getCurrentLocation();
            lat = pos.coords.latitude;
            lng = pos.coords.longitude;
            userLocationAccess = true;
        } catch (error) {
            console.warn("user does not permit location");
        }

        map = L.map(container, { zoomControl: false })
            .setView([lat, lng], 15)
            .on("mousedown", () => {
                showModal = false;
                selectedMarker.remove();
            });

        L.tileLayer(
            "https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}.png",
            {
                maxZoom: 19,
                attribution:
                    '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                subdomains: "abcd",
            }
        ).addTo(map);
        if (userLocationAccess) {
            L.marker([lat, lng], {
                icon: L.divIcon({
                    // html: `<span class="material-icons text-sky-600">accessibility_new</span>`,
                    html: `<span class="relative flex h-4 w-4">
                        <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"></span>
                        <span class="relative inline-flex rounded-full h-4 w-4 bg-sky-500 border-2 border-white"></span>
                        </span>`,
                    className: "transparent",
                }),
            }).addTo(map);
        }

        let markers = L.markerClusterGroup({
            spiderLegPolylineOptions: {
                weight: 0.5,
            },
            spiderfyOnMaxZoom: false,
            disableClusteringAtZoom: 16,
            iconCreateFunction: function (cluster) {
                const count = cluster.getChildCount();

                return L.divIcon({
                    html: `<div class="h-12 w-12 text-base font-bold rounded-full bg-sky-100 flex justify-center items-center">${count}</div>`,
                    className: "transparent",
                });
            },
        });
        data.sitedata.park.forEach((park) => {
            const latlng = tw97ToLatLng(Number(park.tw97x), Number(park.tw97y));
            let color = "bg-gray-300";

            if (!data.livedata.data[park.id]) {
            } else if (data.livedata.data[park.id].availablecar > 10) {
                color = "bg-emerald-500";
            } else if (data.livedata.data[park.id].availablecar > 0) {
                color = "bg-amber-500";
            } else {
                data.livedata.data[park.id].availablecar = 0;
                color = "bg-red-400";
            }

            let remains = 0;
            let icon = "";
            if (data.livedata.data[park.id]) {
                remains = data.livedata.data[park.id].availablecar;
                icon = `<div class="h-6 w-6 -translate-x-1.5 -translate-y-1.5 flex justify-center items-center rounded-full text-white text-sm font-semibold ${color}">${remains}</div>`;
            } else {
                remains = -1;
                icon = `<span class="material-icons h-5 w-5 -translate-x-1.5 -translate-y-1.5 flex justify-center items-center rounded-full text-white ${color}" style="font-size: 14px"> local_parking </span>`;
            }
            const marker = L.marker(latlng, {
                icon: L.divIcon({
                    html: icon,
                    className: "transparent",
                }),
            }).on("click", (e) => {
                showModal = true;
                selectedPark = park;
                selectedMarker = L.marker(e.latlng, {
                    icon: L.divIcon({
                        html: `<span class="material-icons text-red-500 text-4xl -translate-x-3 -translate-y-9">place</span>`,
                        className: "transparent",
                    }),
                }).addTo(map);
            });
            markers.addLayer(marker);
        });
        L.control.scale({ imperial: false }).addTo(map);
        map.addLayer(markers);
    });

    onDestroy(() => {
        map.remove();
    });
</script>

<div class="w-full h-full" bind:this={container}>
    <button
        on:click={moveToCurrentLocation}
        class="ontop tohere material-icons text-lg bg-white text-gray-500"
    >
        <span> my_location </span>
    </button>
    {#if showModal}
        <div
            class="ontop absolute w-11/12 sm:w-1/2 max-h-1/2 bottom-4 left-1/2 -translate-x-1/2"
        >
            <InfoModal
                info={selectedPark}
                live={data.livedata.data[selectedPark.id]}
            />
        </div>
    {/if}
</div>

<style>
    .ontop {
        z-index: 1000;
    }

    .tohere {
        text-align: center;
        padding: 1px;
        height: 40px;
        width: 40px;
        line-height: 22px;
        border-radius: 100%;
        border-width: 2px;
        position: absolute;
        left: 10px;
        top: 10px;
        /* color: white; */
        /* background: #4894fe; */
    }
</style>
